<!-- last message of each conversation -->
<div class=<%= choose_read_type_class(conv.last_message) %> >
<p><b><%= conv.last_message.sender.login %></b><br />
<%=h conv.subject %><br />
<%=h conv.last_message.body %><br />
<%#= check_box_tag 'conv_id[]', conv.id%></p>
</div>
<!-- the rest of the conversation (hide with javascript) -->
<% conv.messages.each do |message| %>
  <% unless message == conv.last_message %>
    <p><b><%=h message.sender.login %></b><br />
    <%=h message.body %><p/><br />
  <% end %>
<% end %>

<!-- Reply to the conversation (will be show just if we show the entire conversation) -->
<% form_tag reply_member_messages_path(current_member) %>
  <%= render :partial => "response", :locals => {:conv => conv }%>
  
  <%= submit_tag "Repondre" %>
<% end %>