<br />
<h3> <%=h @conversation.subject %> </h3>

  <ul>
  
    <% @conversation.messages.each do |message| %>
      <li>
      		<strong><%=h message.sender.login %></strong><br />
      		<%=h message.body %> <br />
          <%= "Le "+message.created_at.day.to_s+"/"+message.created_at.month.to_s+"/"+message.created_at.year.to_s+" à "+message.created_at.hour.to_s+"h"+message.created_at.min.to_s %>
      
      </li>
    <% end %>
  </ul>

  <ul>
    <% form_tag choose_action_member_messages_path(current_member) do %>
      <li><%= render :partial => "response", :locals => {:conv => @conversation }%></li>
    <% end %>
  </ul>
  
			
</div>
