<% unless logged_in? %>
  <% form_tag session_path do -%>
    <ul>
      <li>
      <%= label_tag 'login', 'Pseudo' %>
      <%= text_field_tag 'login', @login, :size => 14  %>
      </li>
      <li>
      <%= label_tag 'password', 'Mot de passe' %>
      <%= password_field_tag 'password', nil, :size => 14 %>
      </li>
      <li>
      <%= submit_tag "Se connecter" %>
      </li>
    </ul>
    <ul>
      <li><%= link_to "S'inscrire", signup_path%></li>
    </ul>
  <% end -%>
<% else %>
  <ul>
    <%= current_member.first_name.to_s+" "+current_member.last_name.to_s %>
    <li><%= link_to "se déconnecter", logout_path() %></li>
  </ul>

<% end %>