<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <title>Lost Friend.</title>
     <%= stylesheet_link_tag "style" %>
</head>

<body>
  <div id="holder">																																																																																																																																																																																																																																																																																																																				 
    <div id="frame">
      <%= render "layouts/big_menu" %>

      <%= render "layouts/header" %>

      <div id="border">
        <div id="content">
          <%= render "layouts/left_menu" %>

          <div id="middle">
            <%= flashes %>
            <div> <h2>Welcome to Lost Friends</h2> <br />
              <%= yield %>   
            </div>         
          </div>
          <%= render "layouts/right_menu"%>          

        </div>
        <div class=" clear"> </div>
        
        
      </div>

      <%= render :partial => "layouts/footer" %>

    </div>
  </div>

</body>

</html>