  
  <%= label_tag :beginning_year, "Années"%>
  <%= select_tag "line[#{s}][beginning_year]", options_for_select(Promotion.list_year) %>
  /
  <%= select_tag "line[#{s}][ending_year]", options_for_select(Promotion.list_year) %>

<%= f.label :name, "Nom de l'école"%>
<%= f.text_field :name %>

</p>