<br /><br />
<% form_for :member, :url => add_members_path() do |f| %>
  <p><div class = "label"><%= f.label :first_name, "Prénom"  %></div>
  <%= f.text_field :first_name %></p>
    
  <p><div class = "label"><%= f.label :last_name, "Nom"  %></div>
  <%= f.text_field :last_name %></p>
  
  <p><div class = "label"><%= f.label :civil_state, "Etat civil"  %></div>
  <%= f.text_field :civil_state %></p>
  
  <p><div class = "label"><%= f.label :activation_code, "Code d'activation" %></div>
  <%= f.text_field :activation_code %></p>
  <br /><br />
  <%= link_to "Associer une promotion :" %>
	<br /><br />
     	 <p> 
         <div class = "label"><%= label_tag :degree, "Diplôme" %></div>
         <%= select_tag "promotion1[degree1]",  options_for_select(Promotion.list_degree) %>
       </p>
       <p> 
         <div class = "label"><%= label_tag :year, "Année d'obtention du diplôme"%></div>
         <%= select_tag "promotion1[year1]",  options_for_select(Promotion.list_year) %>
       </p><br /><br />
       
       <p> 
         <div class = "label"><%= label_tag :degree, "Diplôme" %></div>
         <%= select_tag "promotion2[degree2]", options_for_select(Promotion.list_degree) %>
       </p>
       <p> 
         <div class = "label"><%= label_tag :year, "Année d'obtention du diplôme"%></div>
         <%= select_tag "promotion2[year2]", options_for_select(Promotion.list_year) %>
    </p>  
    <br /><br />
  <p><%= submit_tag "Enregistrer" %></p>
<% end %>