<% form_for :member, :url => add_members_path() do |f| %>
  <p><%= f.label "Prénom", :first_name %>
  <%= f.text_field :first_name %></p>
    
  <p><%= f.label "Nom", :last_name %>
  <%= f.text_field :last_name %></p>
  
  <p><%= f.label "Code d'activation", :activation_code %>
  <%= f.text_field :activation_code %></p>
  
  <%= link_to "Associer une promotion" %>
  <div class="add_promotion">
    <p> 
      <%= label_tag :degree, "Diplôme" %>
      <%= select_tag "promotion1[degree1][]", options_from_hash_for_select(Promotion.all, :id, :degree) %>
    </p>
    <p> 
      <%= label_tag :year, "Année d'obtention du diplôme"%>
      <%= select_tag "promotion1[year1][]", options_from_hash_for_select(Promotion.all, :id, :year) %>
    </p><br />
    
    <p> 
      <%= label_tag "Diplôme" %>
      <%= select_tag "promotion2[degree2][]", options_from_hash_for_select(Promotion.all, :id, :degree) %>
    </p>
    <p> 
      <%= label_tag "Année d'obtention du diplôme", :year%>
      <%= select_tag "promotion2[year2][]", options_from_hash_for_select(Promotion.all, :id, :year) %>
    </p>

      
  </div>
    
  <p><%= submit_tag "Enregistrer" %></p>
<% end %>