<h1>Editer votre profil</h1>

<% form_for([current_member]) do |f| %>
  <%= f.error_messages %>

  <div class="grey line">
    <%= f.label 'email', 'Email' %>
    <%= f.text_field :email%>
  </div>
  <div class="line">
    <%= f.label 'last_name', 'Nom de famille' %>
    <%= f.text_field :last_name %>
  </div>
  <div class="grey line">
     <%= f.label 'region', 'Region' %>
     <%= f.text_field :region %>
   </div>
   <div class="grey line">
      <%= f.label 'town', 'Ville' %>
      <%= f.text_field :town %>
    </div>
    <div class="grey line">
       <%= f.label 'zipcode', 'Code Postal' %>
       <%= f.text_field :zipcode %>
     </div>
  <div class="line">
      <%= submit_tag 'Editer' %>
  </div>

  <h2>Votre parcours scolaire</h2>
  <%= render "show_promotion" %>

  <% f.fields_for :schools do |builder| %>
    <%= render "add_school", :f => builder %>
  <% end %>

<% end %>


<h2>Votre parcours professionnel</h2>


<h2>Vos amis</h2>

<ul>
  <% for friend in @friends %>
    <li>
      <%=h friend.first_name+" "+friend.last_name %>
      <%= link_to_delete_friendship "Supprimer", friend %>
      
    </li>  
  <% end %>
</ul>

<h2>Amis qui attendent votre confirmation</h2>
<ul>
  <% for received in @invites_in %>
    <li>
      <%=h member_received(received).first_name+" "+member_received(received).last_name %>
      <%= link_to_accept_invite "Accepter", received %>
      <%= link_to_refuse_invite "Refuser", received %>
    </li>  
  <% end %>
</ul>


<h2>Amis en attente de confirmation</h2>
<ul>
  <% for sent in @invites_out %>
    <li>
      <%=h member_sent(sent).first_name+" "+member_sent(sent).last_name %>
      <%= link_to_cancel_invite "Annuler", sent, "êtes vous sur?" %>
    </li>  
  <% end %>
</ul>