<h1>Editer votre profil</h1>

<% form_for([current_member]) do |f| %>
  <%= f.error_messages %>

  <div class="grey line">
    <%= f.label 'email', 'Email' %>
    <%= f.text_field :email%>
  </div>
  <div class="line">
    <%= f.label 'last_name', 'Nom de famille' %>
    <%= f.text_field :last_name %>
  </div>
  <div class="grey line">
     <%= f.label 'region', 'Region' %>
     <%= f.text_field :region %>
   </div>
   <div class="grey line">
      <%= f.label 'town', 'Ville' %>
      <%= f.text_field :town %>
    </div>
    <div class="grey line">
       <%= f.label 'zipcode', 'Code Postal' %>
       <%= f.text_field :zipcode %>
     </div>
  <div class="line">
      <%= submit_tag 'Editer' %>
  </div>

  <strong>Votre parcours scolaire</strong>
  <%= render "show_promotion" %>
  
  <% s = 0 %>
  <% f.fields_for :schools do |builder| %>
    <%= render "add_school", :f => builder, :s => s %>
    <% s = s+1 %>
  <% end %>

<% end %>


<strong>Votre parcours professionnel</strong>


