<h1> Page de profil</h1>

<div class="grey line">
  <%= label_tag 'Email' %>
  <%= @member.email%>
</div>
<div class="line">
  <%= label_tag 'Nom de famille' %>
  <%= @member.last_name %>
</div>

<div class="friend">
  <ul>
  <% for friend in @friends %>
    <li>
      <%=h friend.first_name+" "+friend.last_name %>
    </li>  
  <% end %>
  <li>
  
</div>


