<h1> Page de profil</h1>
<p>
  <%= @member.civil_state.to_s+"."+@member.first_name.to_s+" "+ @member.last_name.to_s%>
</p>

<p><%= link_to "Faire une demande d'ami", invites_path(:member_target => @member),
 :method => :post if can_invite?(current_member, @member) %></p>

<% if current_member.friends.include?(@member) || @member == current_member %>
<p>Zone privée</p>

<p>
  <%= label_tag 'Email : ' %>
  <%= @member.email%>
</p>
<p>
  <% if @member.region %>
    <%= label_tag 'Region : ' %>
    <%= @member.region %>
  <% end %>
</p>
<p>
  <% if @member.town %>
    <%= label_tag 'ville : ' %>
    <%= @member.town %>
  <% end %>
</p>

<p>
  <% if @member.zipcode %>
    <%= label_tag 'Code postal : ' %>
    <%= @member.zipcode %>
  <% end %>
</p>
<% end %>


  <%= render "show_promotion" %>
  
</div>

<div class="friend">
  <h1>Amis</h1>
  <ul>
  <% for friend in @friends %>
    <li>
      <%=h friend.first_name+" "+friend.last_name %>
    </li>  
  <% end %>
  <ul>
  
</div>


